mixin menuItem (iconPath, text, link)

    li.menu__item: a.menu__link(href=`${link}`, class=`${currentPath.startsWith(link) ? 'menu__link--active' : ''}`)
        img.menu__icon(src=`/img/ui/${iconPath}`, alt=`${text} icon`, class=`menu__icon--${text.toLowerCase().replace(' ', '')}`, role="menuitem")
        span.menu__text= text
//- TODO/ Add roving tab index
header
    .logo
        h2.logo__content IssueTracker
        if user
            p.logo__logged-in-as= `Logged in as: ${user.name}`
    nav
        ul.menu(role="menu" )
            +menuItem('home.svg', 'Home', '/home')
            if user
                //- +menuItem('dashboard.svg', 'Dashboard', '/dashboard')
                +menuItem('briefing.svg', 'Projects', '/projects')
                if (user.roles.includes('admin'))
                    +menuItem('settings.svg', 'Admin', '/admin')
                +menuItem('user.svg', 'User', '/me')
                li.menu__item: button.btn.menu__link.menu__link--logout
                    img.menu__icon(src=`/img/ui/logout.svg`, alt=`logout icon`, class=`menu__icon--logout`, role="menuitem")
                    span.menu__text Logout
            else
                +menuItem('login.svg', 'Login', '/login')
                +menuItem('enter.svg', 'Sign up', '/signup')
