extends base.pug

block content
    main.main
        .breadcrumb-container
            ol.breadcrumb
                li.breadcrumb__item: a.breadcrumb__link(href=`#`) PROJECTS
                li.breadcrumb__item: a.breadcrumb__link(href=`#`) PROJECT#AADD
                li.breadcrumb__item: a.breadcrumb__link(href=`#`) ISSUES
                //- li.breadcrumb__item: a.breadcrumb__link(href=`#`) ISSUE#AADD-001
        .app-wrapper
            h1.heading-page= title
            .app__header
                a(href=`/projects`).btn.btn--small.btn--light.align--left Back to Projects
                a(href=`/projects/${projectId}/issues/create`).btn.btn--small.btn--light.align--right Submit a new issue
                a(href=`/projects/${projectId}/preview`).btn.btn--small.btn--light.align--right Project details
                a(href=`/projects/${projectId}/issues?grid=true`).btn.btn--small.btn--light.align--right Toggle grid view
            table.list.list--projects
                tr.list__row--heading
                    th.list__heading ID
                    th.list__heading Issue
                    th.list__heading Description
                    th.list__heading Priority
                    th.list__heading Author
                    th.list__heading Created
                    th.list__heading Deadline
                    th.list__heading Status
                    th.list__heading Assignees
                each issue in issues
                    tr.list__row
                        td.list__data
                            a.list__content(href=`/projects/${projectId}/issues/${issue._id}/preview`)= issue.issueId
                            - const nameLength = 35
                        td.list__data
                            a.list__content(href=`/projects/${projectId}/issues/${issue._id}/preview`)= `${(issue.name.length > nameLength) ? issue.name.slice(0, nameLength) + issue.name.slice(nameLength).split(' ')[0] + '...' : issue.name}`
                            - const descriptionLength = 50
                        td.list__data
                            a.list__content(href=`/projects/${projectId}/issues/${issue._id}/preview`)= `${(issue.description.length > descriptionLength) ? issue.description.slice(0, descriptionLength) + issue.description.slice(descriptionLength).split(' ')[0] + '...' : issue.description}`
                        td.list__data
                            a.list__content(href=`/projects/${projectId}/issues/${issue._id}/preview`)= `${issue.status}`
                        td.list__data
                            a.list__content(href=`/projects/${projectId}/issues/${issue._id}/preview`)= issue.author.name
                        td.list__data
                            a.list__content(href=`/projects/${projectId}/issues/${issue._id}/preview`)= `${issue.createdOn ? issue.createdOn.toLocaleDateString('en-GB') : ''}`
                        td.list__data
                            a.list__content(href=`/projects/${projectId}/issues/${issue._id}/preview`)= `${issue.deadline ? issue.deadline.toLocaleDateString('en-GB') : ''}`
                        td.list__data
                            a.list__content(href=`/projects/${projectId}/issues/${issue._id}/preview`)= issue.status
                        td.list__data
                            a.list__content(href=`/projects/${projectId}/issues/${issue._id}/preview`) 
                                .team-members
                                    - const numPortraits = 3
                                    - if (issue.assignees.length > numPortraits)
                                        each assignee in issue.assignees.slice(0, numPortraits)
                                            img.team-members__user-icon--list(src=`/img/users/${assignee.photo}`, alt=`${assignee.name}`)
                                        span.team-members__rest-text= `and ${issue.assignees.length - numPortraits} others`
                                    - if (issue.assignees.length <= numPortraits)
                                        each assignee in issue.assignees
                                            img.team-members__user-icon--list(src=`/img/users/${assignee.photo}`, alt=`${assignee.name}`)