mixin editableTable (id, label, resource, ...headings)
    label.form-template__label(for=`${id}_container`)= label
    .editableTable
        table(id=`${id}_container`).list.list--ac
            each heading in headings
                th.list__heading: span(id=`criterion${heading.charAt(0).toUpperCase() + heading.slice(1)}`)= `${heading.charAt(0).toUpperCase() + heading.slice(1)}`
                //- p= firstDoc

                
                //- p= document
                //- p= firstDoc

        //-         each criterion in issue.acceptanceCriterias 
        //-             tr.list__row.list__row--form
        //-                 td.list__data.list__data--form: input.form-template__input(type="text", aria-labelledby="criterionId" disabled, value=`${criterion._id}`) 
        //-                 td.list__data.list__data--form.list__data--textarea: textarea.form-template__textarea(aria-labelledby="criterionName")= criterion.criterion 
        //-                 td.list__data.list__data--form: input.form-template__input(type="text", aria-labelledby="criterionCreated" disabled, value=`${formMode!=='create' && criterion.createdOn ?  criterion.createdOn.toLocaleDateString('en-GB') : ''}`) 
        //-                 td.list__data.list__data--form
        //-                     .checkbox
        //-                         input.checkbox__input(type="checkbox" checked=criterion.solved)
        //-                         div.checkbox__box(aria-labelledby="criterionSolved")
        //- button(type="button").btn.btn--small.btn--light.align--left.btn--noflex-start= `Add new ${label}`