.tab__header
    a(href=`/admin/users/create`).btn.btn--small.btn--light.align--right Add new user

table.list.list--projects
    tr.list__row--heading
        th.list__heading(role="columnheader") Name
        th.list__heading(role="columnheader") Email
        th.list__heading(role="columnheader") Organization
        th.list__heading(role="columnheader") Active
        th.list__heading(role="columnheader") Main Role
        th.list__heading(role="columnheader") Created
    each user in users
        tr.list__row
            td.list__data(role="cell")
                a.list__content(href=`/admin/users/${user._id}/preview`)= user.name
            td.list__data(role="cell")
                a.list__content(href=`/admin/users/${user._id}/preview`)= user.email
            td.list__data(role="cell")
                a.list__content(href=`/admin/users/${user._id}/preview`)= user.organization
            td.list__data(role="cell")
                a.list__content(href=`/admin/users/${user._id}/preview`)= user.active
            td.list__data(role="cell")
                a.list__content(href=`/admin/users/${user._id}/preview`)= user.mainRole
            td.list__data(role="cell")
                a.list__content(href=`/admin/users/${user._id}/preview`)= `${user.createdOn ? new Intl.DateTimeFormat('en-GB', {year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: false}).format(user.createdOn) : ''}`