extends ./../base.pug

block content
    main.main
        .breadcrumb-container
            ol.breadcrumb
                li.breadcrumb__item: a.breadcrumb__link(href=`#`) PROJECTS
        .app-wrapper
            h1.heading-page My projects
            .app__header
                input.search-input(type="text", aria-label="Search for a project", placeholder="Search for a project")
                a(href="/projects/create").btn.btn--small.btn--light.align--right Create a new project
                a(href="/projects").btn.btn--small.btn--light.align--right Toggle grid view
            .grid.grid--projects
                each project in projects
                    .card.card--project
                        .card__header
                            img.card__icon(src=`${project.icon}`, alt=`${project.name} icon`)
                            .card__prefix= project.prefix
                            a(href=`/projects/${project._id}/preview`).btn.btn--small.btn--light.align--right Project details
                            a(href=`/projects/${project._id}/issues`).btn.btn--small.btn--light.align--right Issues
                        .card__body
                            .card__title= project.name
                            .card__description= `Owner: ${project.owner.name}`
                            .card__description= `Description: ${(project.description.length > 120) ? project.description.slice(0, 120) + project.description.slice(120).split(' ')[0] + '...' : project.description}`
                            .card__description= `Status: ${project.status}`
                            .card__progress-bar
                                .card__progress-fill(style=`flex-basis: ${project.progress + 1}%`)
                                    span.card__progress-fill--text= `${project.progress}%`
                        .card__footer
                            .ui-label.ui-label--info
                                img.ui-label__icon(src="/img/ui/wall-clock.svg", alt="clock")
                                span.ui-label__text= `${project.deadline ? project.deadline.toLocaleDateString('en-GB') : ''}`
                            .team-members
                                - const numPortraits = 4
                                - if (project.teamMembers.length > numPortraits)
                                    each member in project.teamMembers.slice(0, numPortraits)
                                        img.team-members__user-icon(src=`/img/users/${member.photo}`, alt=`${member.name}`)
                                    span.team-members__rest-text= `and ${project.teamMembers.length - numPortraits} others`
                                - if (project.teamMembers.length <= numPortraits)
                                    each member in project.teamMembers
                                        img.team-members__user-icon(src=`/img/users/${member.photo}`, alt=`${member.name}`)