extends ./../base.pug

block content
    main.main
        .breadcrumb-container
            ol.breadcrumb
                li.breadcrumb__item: a.breadcrumb__link(href=`#`) PROJECTS
        .app-wrapper
            h1.heading-page My projects
            .app__header
                input.search-input(type="text", aria-label="Search for a project", placeholder="Search for a project")
                a(href="/projects/create").btn.btn--small.btn--light.align--right Create a new project
                a(href="/projects?grid=true").btn.btn--small.btn--light.align--right Toggle grid view
            .app__content
                table.list.list--projects
                    tr.list__row--heading
                        th.list__heading Prefix
                        th.list__heading Project
                        th.list__heading Description
                        th.list__heading Owner
                        th.list__heading Deadline
                        th.list__heading Status
                        th.list__heading Progress
                        th.list__heading Assignees
                        th.list__heading Action
                    each project in projects
                        tr.list__row
                            td.list__data
                                a.list__content(href=`/projects/${project._id}/preview`)= project.prefix
                                - const nameLength = 35
                            td.list__data
                                a.list__content(href=`/projects/${project._id}/preview`)= `${(project.name.length > nameLength) ? project.name.slice(0, nameLength) + project.name.slice(nameLength).split(' ')[0] + '...' : project.name}`
                                - const descriptionLength = 50
                            td.list__data
                                a.list__content(href=`/projects/${project._id}/preview`)= `${(project.description.length > descriptionLength) ? project.description.slice(0, descriptionLength) + project.description.slice(descriptionLength).split(' ')[0] + '...' : project.description}`
                            td.list__data
                                a.list__content(href=`/projects/${project._id}/preview`)= project.owner.name
                            td.list__data
                                a.list__content(href=`/projects/${project._id}/preview`)= `${project.deadline ? project.deadline.toLocaleDateString('en-GB') : ''}`
                            td.list__data
                                a.list__content(href=`/projects/${project._id}/preview`)= project.status
                            td.list__data
                                a.list__content(href=`/projects/${project._id}/preview`)= `${project.progress}%`
                            td.list__data
                                a.list__content(href=`/projects/${project._id}/preview`) 
                                    .team-members
                                        - const numPortraits = 3
                                        - if (project.teamMembers.length > numPortraits)
                                            each member in project.teamMembers.slice(0, numPortraits)
                                                img.team-members__user-icon--list(src=`/img/users/${member.photo}`, alt=`${member.name}`)
                                            span.team-members__rest-text= `and ${project.teamMembers.length - numPortraits} others`
                                        - if (project.teamMembers.length <= numPortraits)
                                            each member in project.teamMembers
                                                img.team-members__user-icon--list(src=`/img/users/${member.photo}`, alt=`${member.name}`)
                            td.list__data
                                a(href=`/projects/${project._id}/issues`).btn.btn--small.btn--light Issues