extends ./../base.pug

append head
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous")

block content
    main.main
        .breadcrumb-container
            ol.breadcrumb
                li.breadcrumb__item: a.breadcrumb__link PROJECTS
        .wrapper--app
            h1.heading-title My projects
            .app__header

                input.search-input(type="search", aria-label="Search for a project", placeholder="Search for a project", aria-controls="projects")
                a(href="/projects/create").btn.btn--small.btn--light.align--right Create a new project
                a(href="/projects?grid=true").btn.btn--small.btn--light.align--right Toggle grid view
            .app__content
                table#projects.list.list--projects
                    tr.list__row--heading
                        th.list__heading(data-sortable="true", data-sortval="prefix"): span Prefix
                        th.list__heading(data-sortable="true", data-sortval="name"): span Project
                        th.list__heading: span Description
                        th.list__heading: span Project Lead
                        th.list__heading(data-sortable="true", data-sortval="deadline"): span Deadline
                        th.list__heading(data-sortable="true", data-sortval="status"): span Status
                        th.list__heading(data-sortable="true", data-sortval="progress"): span Progress
                        th.list__heading: span Team Members
                        th.list__heading: span Action
                    each project in projects
                        tr.list__row
                            td.list__data
                                a.list__content(href=`/projects/${project._id}/issues`)= project.prefix
                                - const nameLength = 35
                            td.list__data
                                a.list__content(href=`/projects/${project._id}/issues`)= `${(project.name.length > nameLength) ? project.name.slice(0, nameLength) + project.name.slice(nameLength).split(' ')[0] + '...' : project.name}`
                                - const descriptionLength = 50
                            td.list__data
                                a.list__content(href=`/projects/${project._id}/issues`)= `${(project.description.length > descriptionLength) ? project.description.slice(0, descriptionLength) + project.description.slice(descriptionLength).split(' ')[0] + '...' : project.description}`
                            td.list__data
                                a.list__content(href=`/projects/${project._id}/issues`)= project.teamLead.name
                            td.list__data
                                a.list__content(href=`/projects/${project._id}/issues`)= `${project.deadline ? project.deadline.toLocaleDateString('en-GB') : ''}`
                            td.list__data
                                a.list__content(href=`/projects/${project._id}/issues`)= project.status
                            td.list__data
                                a.list__content(href=`/projects/${project._id}/issues`)= `${project.progress}%`
                            td.list__data
                                a.list__content(href=`/projects/${project._id}/issues`) 
                                    .team-members
                                        - const numPortraits = 3
                                        - if (project.teamMembers.length > numPortraits)
                                            each member in project.teamMembers.slice(0, numPortraits)
                                                img.team-members__user-icon--list(src=`/img/users/${member.photo}`, alt=`${member.name}`)
                                            span.team-members__rest-text= `and ${project.teamMembers.length - numPortraits} others`
                                        - if (project.teamMembers.length <= numPortraits)
                                            each member in project.teamMembers
                                                img.team-members__user-icon--list(src=`/img/users/${member.photo}`, alt=`${member.name}`)
                            td.list__data
                                a(href=`/projects/${project._id}/preview`).btn.btn--icon.btn--transparent: <i class="far fa-edit"></i>