extends ./../base.pug

append head
    link(rel="stylesheet", href="/css/spinner.css")

block content
    main.main
        .breadcrumb-container
            ol.breadcrumb
                li.breadcrumb__item: a.breadcrumb__link(href=`#`) PROJECTS
                li.breadcrumb__item: a.breadcrumb__link(href=`#`) PROJECT#AADD
                li.breadcrumb__item: a.breadcrumb__link(href=`#`) ISSUES
                //- li.breadcrumb__item: a.breadcrumb__link(href=`#`) ISSUE#AADD-001
        .app-wrapper
            h1.heading-page= title
            .app__header
                a(href=`/projects`).btn.btn--small.btn--light.align--left Back to Projects
                a(href=`/projects/${projectId}/issues/create`).btn.btn--small.btn--light.align--right Submit a new issue
                a(href=`/projects/${projectId}/preview`).btn.btn--small.btn--light.align--right Project details
                a(href=`/projects/${projectId}/issues`).btn.btn--small.btn--light.align--right Toggle grid view
            .app__content
                .grid.grid--issues
                    each issue in issues
                        .card.card--issue
                            .card__header
                                .card__prefix.card__prefix--issue= issue.issueId
                                a(href=`/projects/${issue.project._id}/issues/${issue.id}/preview`).btn.btn--small.btn--light.align--right View
                            .card__body
                                .card__title= issue.name
                                .card__title= `Priority: ${issue.priority}`
                                .card__description= `Author: ${issue.author.name}`
                                .card__description= `Description: ${(issue.description.length > 120) ? issue.description.slice(0, 120) + issue.description.slice(120).split(' ')[0] + '...' : issue.description}` 
                                .card__description= `Status: ${issue.status}`
                            .card__footer
                                .ui-label.ui-label--info.align--left
                                    img.ui-label__icon(src="/img/ui/lightbulb.svg", alt="created on")
                                    span.ui-label__text= `${issue.createdOn ? issue.createdOn.toLocaleDateString('en-GB') : ''}`
                                .ui-label.ui-label--info.align--left
                                    img.ui-label__icon(src="/img/ui/wall-clock.svg", alt="deadline")
                                    span.ui-label__text= `${issue.deadline ? issue.deadline.toLocaleDateString('en-GB') : ''}`
                                .team-members
                                    - const numPortraits = 2
                                    - if (issue.assignees.length > numPortraits)
                                        each assignee in issue.assignees.slice(0, numPortraits)
                                            img.team-members__user-icon(src=`/img/users/${assignee.photo}`, alt=`${assignee.name}`)
                                        span.team-members__rest-text= `+ ${issue.assignees.length - numPortraits}`
                                    - if (issue.assignees.length <= numPortraits)
                                        each assignee in issue.assignees
                                            img.team-members__user-icon(src=`/img/users/${assignee.photo}`, alt=`${assignee.name}`)