extends ./../base.pug

include ./../mixins/_multiselect.pug
include ./../mixins/_nestedTable.pug


append head
    link(rel="stylesheet", href="/css/spinner.css")
    link(rel="stylesheet", href="/css/form-template.css")
    link(rel="stylesheet", href="/lib/flatpickr/dist/themes/issue_tracker.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous")

block content
    main.main
        .breadcrumb-container
            ol.breadcrumb
                li.breadcrumb__item: a.breadcrumb__link(href=`/projects`) PROJECTS
                li.breadcrumb__item: a.breadcrumb__link(href=`/projects/${projectId}/issues`) ISSUES
                li.breadcrumb__item: a.breadcrumb__link= `ISSUE#${issue ? issue.issueId : ''}`
        .wrapper--app
            h1.heading-title= title
            .app__header
                if (formMode !== 'preview')
                    a(href=`/projects/${projectId}/issues`).btn.btn--small.btn--light.align--left Back to Issues
                    a(href=`${formMode == 'create' ? `/projects/${projectId}/issues`: `/projects/${projectId}/issues/${issue._id}/preview`}`).btn.btn--small.btn--light.align--right Cancel
                    button#saveFormBtn(form="issueForm", type="submit").btn.btn--small.btn--light.align--right Save
                else 
                    a(href=`/projects/${projectId}/issues`).btn.btn--small.btn--light.align--left Back to Issues
                    a(href=`/projects/${projectId}/issues/${issue._id}/update`).btn.btn--small.btn--light.align--right Edit
                    button#deleteFormBtn(form="issueForm", type="button").btn.btn--small.btn--light.align--right Delete
            .app__content
                form#issueForm.form-template.form-template--grid(data-optionalroute=`projects/${projectId}` data-resource=`issues`, data-id=formMode!=='create' ? issue._id : '')
                    .form-template__field
                        label.form-template__label(for="id") ID
                        input#id.form-template__input(type=`text` disabled, value=issue && issue.issueId)
                    .form-template__field
                        label.form-template__label(for="author") Author
                        input#author.form-template__input(type="text" disabled, value=issue && issue.author.name)
                    .form-template__field
                        label.form-template__label(for="status") Status
                        select#status.form-template__select(name="status", disabled=formMode!=="update", value=issue && issue.status)
                            each option in statusOptions
                                option(value=`${option}`, selected=issue&&option==issue.status)= option
                    .form-template__field.new-line
                        label.form-template__label(for="name") Name
                        input#name.form-template__input(type="text" disabled=formMode!=="update" && formMode !=="create", name="name", value=issue && issue.name)
                    .form-template__field
                        label.form-template__label(for="priority") Priority
                        select#priority.form-template__select(name="priority", disabled=formMode!=="update" && formMode !=="create", value=issue && issue.priority)
                            each option in priorityOptions
                                option(value=`${option}`, selected=issue&&option==issue.priority)= option
                    .form-template__field
                        label.form-template__label(for="difficulty") Difficulty
                        input#difficulty.form-template__input(type="number" disabled=formMode!=="update" && formMode !=="create", name="difficulty", value=issue && issue.difficulty)             
                    .form-template__field
                        label.form-template__label(for="deadline") Deadline
                        input#deadline.form-template__input.form-template__input--date(type="text", placeholder="MM/DD/YYYY" disabled=formMode!=="update" && formMode !=="create" , name="deadline", value=`${issue && issue.deadline ?  issue.deadline.toLocaleDateString('en-GB') : ''}`)
                    .form-template__field.colspan2
                        label.form-template__label(for="description") Description
                        textarea#description.form-template__textarea(disabled=formMode!=="update" && formMode !=="create", name="description")=issue && issue.description
                    .form-template__field.colspan2.new-line
                        +userMultiselect("assignees", "Assignees", (issue) ?  issue.assignees : [], users)
                    .form-template__field.colspan3.new-line
                        if (formMode == 'preview')
                            label.form-template__label(for="acceptanceCriterias") Acceptance Criteria
                            table.list
                                tr.list__row--heading
                                    th.list__heading: span Criterion
                                    th.list__heading: span Created
                                    th.list__heading: span Solved
                                each criterion in issue.acceptanceCriterias
                                    tr.list__row.list__row--form
                                        td.list__data.list__data--form: span= criterion.criterion
                                        td.list__data.list__data--form: span= criterion.createdOn.toLocaleDateString('en-GB')
                                        td.list__data.list__data--form: span= criterion.solved
                        else
                            +nestedAcceptanceCriteria('acceptanceCriterias', 'Acceptance Criteria', issue && issue.acceptanceCriterias, 'ID', 'Criterion', 'Created on', 'Solved')

prepend scripts
    script(src="/lib/flatpickr/dist/flatpickr.min.js")