.wrapper--form.wrapper--user-form
    h2.form__heading.form__heading--bigger Your account settings
    form.form__body.form__body--update-me(is="auth-form")
            .form__group.form__photo-upload
                img.form__user-photo(src=`/img/users/${user.photo}`, alt=`${user.name}`)
                input#photo.form__upload(type="file", accept="image/*", name="photo")
                label.btn.btn--small.btn--dark(for="photo") Choose a new photo
            .form__group
                input#name.form__input.form__input--bigger(type="text", name="name", value=`${user.name}`)
                label.form__label(for="name"): span Full name
            .form__group
                input#email.form__input.form__input--bigger(type="email", name="email", value=`${user.email}`)
                label.form__label(for="email"): span Email address

            .form__group
                input#organization.form__input.form__input--bigger(type="text", name="organization", value=user.organization)
                label.form__label(for="organization"): span Organization
            .form__group
                button.btn.btn--dark.btn--medium.btn--align-left.form__button--send Save